{% extends "UserBundle::layout.html.twig" %}

{% block title %}Portail de demande de subvention{% endblock %}

{% block section %}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% block message %}
        {% if error %}{{ error.message }}{% endif %}
    {% endblock %}

    {% block content %}

        <div class="col-md-9 col-sm-9 centered container">
            <div class="content">
                <div class="outer-div col-md-6 centered">
                    <div class="inner-div">
                        <h2 class="text-center"><b>Connexion</b></h2>
                        <br>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" class="form-control" name="_password" required="required" />
                            </div>
                            <div class="checkbox text-center">
                                <input type="checkbox" class="bs"  id="remember_me" name="_remember_me" data-on-text="Oui" data-off-text="Non" checked/>
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <br>
                            <button class="btn btn-success btn-block btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Connexion</button>
                        </form>
                        <br>
                        <div class="form-group">
                            <a class="btn btn-default btn-block btn-lg" href="{{ path('UserBundle_register') }}">
                                <b>S'enregistrer <i class="fa fa-arrow-circle-o-right"></i></b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock fos_user_content %}

{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block modal %}
    <div id="infos" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Bienvenue sur le portail de demande de subvention de la commune de Villers-L&egrave;s-Nancy </h4>
                </div>
                <div class="modal-body">
                    <ul class="text-center">
                        <li style="list-style-type:none;">
                            <a href="#" data-dismiss="modal" class="unstyled-link">
                                <h2>
                                    <b>Je suis d&eacute;j&agrave; enregistr&eacute; <i class="fa fa-arrow-circle-o-right"></i></b>
                                </h2>
                            </a>
                        </li>
                        <li style="list-style-type:none;">
                            <a href="{{ path('UserBundle_register') }}" class="unstyled-link">
                                <h2>
                                    <b>Je ne suis pas enregistr&eacute; <i class="fa fa-arrow-circle-o-right"></i></b>
                                </h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}